@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  --clr-primario: #0e0e10;
  --clr-gray: #1f1f23;
  --clr-secundario: #772ce8;
  --clr-light: #efeff1;
  --clr-hover: hsl(264, 72%, 40%);
  --clr-succes: #5cb85c;
  --clr-danger: #f6a7a3;

  --gradient: linear-gradient(to right, hsl(264, 80%, 54%), hsl(264, 80%, 75%));
  --height-navbar: 70px;
  --transition: ease 0.2s;
  --radius: 5px;
  --regular: 300;
  --bold: 700;
  --sombra: hsl(240, 7%, 6%) 0px 1px 3px 0px,
    hsl(240, 7%, 6%, 60%) 0px 0px 0px 1px;
  --outline: 1px solid var(--clr-secundario);
}

html {
  scroll-behavior: smooth;
  scroll-padding: 70px;
}

body {
  background-color: var(--clr-primario);
  color: var(--clr-light);
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 20px;
}

.btn {
  border: none;
  border-radius: var(--radius);
  background: var(--gradient);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--clr-light);
  width: 100%;
  max-width: 250px;
  height: 45px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  font-weight: var(--bold);
  text-align: center;
  box-shadow: var(--sombra);
}

.btn:before {
  content: "";
  position: absolute;
  top: -5px;
  left: 30px;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  border: 2px solid var(--clr-light);
  transition: var(--transition);
}

.btn:after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 30px;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  border: 2px solid var(--clr-light);
  transition: var(--transition);
}

.btn:hover:before {
  left: 0;
  transition: var(--transition);
}

.btn:hover:after {
  right: 0;
  transition: var(--transition);
}
/***** terminan estilos generales *****/

.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  background-color: rgb(255 255 255/20%);
  backdrop-filter: blur(5px);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}

.overlay.showme {
  opacity: 1;
  visibility: visible;
  transition: var(--transition);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: var(--height-navbar);
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: var(--clr-gray);
  border-bottom: var(--outline);
  box-shadow: hsl(240, 7%, 6%) 0px 1px, hsl(240, 7%, 6%, 60%) 0px 2px 6px 2px;
}

.nav {
  display: flex;
  justify-content: space-between;

  /* top: 0; */
  /* left: 50%; */
  width: 100%;
  max-width: 1200px;
  /* transform: translateX(-50%); */
  /* background-color: var(--clr-gray);
  border-bottom: var(--outline); */
}

.nav__logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__logo > i {
  font-size: 2rem;
  color: var(--clr-secundario);
}

.nav__menu-mobile {
  position: absolute;
  z-index: 99;
  right: 0;
  top: -208px;
  background-color: var(--clr-gray);
  width: 80vw;
  font-size: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  outline: var(--outline);

  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}

.nav__menu-mobile > li {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.nav__menu-mobile > li:not(:last-child) {
  border-bottom: 1px solid var(--clr-secundario);
}

ul > li > a {
  color: var(--clr-light);
  font-weight: var(--bold);
}

.hamburger-container {
  color: var(--clr-secundario);
  background-color: var(--clr-gray);
  outline: var(--outline);
  position: fixed;
  z-index: 10;
  bottom: 4vh;
  right: 4vw;
  width: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: var(--radius);
}

.hamburger-container .hamburger {
  background-color: transparent;
  border: none;
  width: 100%;
}

.hamburger-container .hamburger > .fa-bars {
  font-size: 1.5rem;
  color: var(--clr-secundario);
}

/* clase cuando se muestra el menu */
.nav__menu-mobile.showme {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: var(--transition);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--clr-primario);
}

.nav__carrito-container {
  color: var(--clr-secundario);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__carrito-container > i:hover {
  color: var(--clr-hover);
  transition: var(--transition);
}

.nav__menu-pc {
  display: none;
}

@media (min-width: 768px) {
  .nav {
    justify-content: space-between;
    border-radius: var(--radius);
  }

  .nav__menu-pc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .nav__menu-pc > li > a {
    font-size: 0.9rem;
  }

  .nav__menu {
    position: unset;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
    height: 100%;
    width: 50%;

    transition: none;
  }

  .nav__menu > li {
    cursor: pointer;
  }

  ul > li > a:hover {
    color: var(--clr-hover);
    transition: var(--transition);
  }

  .hamburger-container {
    display: none;
  }
}

/********* empieza el hero *********/
.hero {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.hero__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
  min-width: 250px;
}

.hero__content > .btn {
  margin-top: 20px;
  position: relative;
}

.hero__content h1 {
  font-weight: var(--bold);
  letter-spacing: 2px;
  font-size: 1.5rem;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hero__picture {
  background-image: url("/imagenes/hero-img.jpg");
  background-size: cover;
  background-position: center center;
  height: 400px;
  width: 100%;
  border-radius: var(--radius);
}

@media (min-width: 800px) {
  /* ?empieza el hero */
  .hero {
    flex-direction: row;
    gap: 2rem;
  }
}

/* ?empieza seccion canales */

.canales {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.btns-categories {
  width: 100%;
  height: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max-content, 200px));
  gap: 1rem;
  place-content: center;
}

.btns-categories .btn-category {
  max-width: none;
  width: 100%;
}

/* clase desde js */
.btns-categories .btn-category.active {
  background: none;
  background-color: var(--clr-gray);
  background-color: transparent;
  color: var(--clr-light);
  outline: var(--outline);
  box-shadow: inset 0 0 10px var(--clr-secundario);
}

.btns-categories .btn-category.active:before,
.btns-categories .btn-category.active:after {
  border-color: var(--clr-secundario);
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
  place-content: center;
  gap: 2rem;
}

.card {
  width: 100%;
  background-color: var(--clr-gray);
  border-radius: var(--radius);
  padding: 20px;
  overflow: hidden;
  animation: animationCard ease 0.7s;
  outline: var(--outline);
  font-size: 14px;
}

@keyframes animationCard {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 50%;
  }
  100% {
    opacity: 1;
  }
}

.card__img {
  height: 250px;
  width: 100%;
  border-radius: inherit;
  overflow: hidden;
}

.card__img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__name {
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.card__price {
  font-weight: var(--bold);
}

.card__info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#verMas.hidde {
  display: none;
}

/* ?CARRITO */
.cart-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 450px;
  height: 100vh;
  background-color: var(--clr-gray);
  outline: var(--outline);
  z-index: 90;
  padding: 0 20px;
  transform: translateX(100%);
  transition: var(--transition);
}

.cart-container.showme {
  transform: translateX(0%);
  transition: var(--transition);
}

.cart__channels {
  margin-top: 10px;
  border-bottom: 1px solid var(--clr-light);
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 300px;
  overflow-y: auto;
}

.cartMsj {
  text-align: center;
}

.cart__title {
  margin-top: 100px;
  color: transparent;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
}
.card .btnSuscriber {
  max-width: none;
}

/* &canal */
.cart__channel {
  width: 100%;
  outline: var(--outline);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-radius: var(--radius);
  box-shadow: var(--clr-primario) 0px 1px 3px 0px,
    var(--clr-primario) 0px 0px 0px 1px;
  font-size: 13px;
}

.cart__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1px;
  justify-content: center;
  align-items: flex-start;
}

.cart__name {
  font-weight: var(--bold);
  text-transform: uppercase;
}

.cart__price {
  color: var(--clr-secundario);
}

.cart__channel img {
  --size: 40px;
  width: var(--size);
  height: var(--size);
  border-radius: var(--radius);
  object-fit: cover;
}

.cart__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.cart-btn {
  padding: 5px;
  border: none;
  display: grid;
  place-content: center;
  font-weight: var(--bold);
  font-size: 13px;
  color: var(--clr-secundario);
  border-radius: var(--radius);
  cursor: pointer;
  outline: var(--outline);
  background-color: var(--clr-primario);
  transition: var(--transition);
  position: relative;
  box-shadow: 0 0 6px var(--clr-secundario);
}

.cart-btn:hover {
  transform: scale(0.97);
  transition: var(--transition);
  background-color: var(--clr-secundario);
  color: var(--clr-light);
}

.cart__options {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.cart__options .deleteCart {
  background: transparent;
  outline: var(--outline);
}

.cart__total {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total {
  font-weight: var(--bold);
  /* font-size: 16px ; */
}

.cart__total-title {
  color: transparent;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
}

@media (min-width: 768px) {
  .cart__name {
    font-size: 14px;
  }
  .cart__quantity {
    font-size: 16px;
  }
}

/* botones de cart */
.cart__options .deleteCart.disabled,
.cart__options .suscribeCart.disabled {
  cursor: not-allowed;
  background: #ccc;
  outline: none;
}

/* DESCARGAR */

.descargar {
  background: linear-gradient(hsla(0, 0%, 0%, 85%), hsla(0, 0%, 0%, 85%)),
    url("/imagenes/twitch-descargar.jpg") no-repeat center/cover;
}

.descargar .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.descargar__title {
  font-size: 2rem;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.descargar__picture {
  margin: 0 auto;
  width: 100px;
  height: 70px;
  background: url("/imagenes/twitchfoto.png") no-repeat center/contain;
}

.descargar__content {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.descargar__boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.descargar__box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.bold {
  font-weight: var(--bold);
  color: var(--clr-secundario);
}

.box-title {
  display: flex;
  align-items: center;
}

.descargar__box span {
  font-size: 16px;
}

.descargar .fa-star {
  font-size: 12px;
}

@media (min-width: 768px) {
  .descargar__boxes {
    flex-direction: row;
  }
}

/* footer */
.footer {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.footer__contact {
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer__contact-link {
  cursor: pointer;
  color: var(--clr-secundario);
  transition: var(--transition);
}

.footer__contact > .footer__contact-link:hover {
  transition: var(--transition);
  color: var(--clr-light);
}

/*MODAL AL AÑADIR CANAL O UNIDAD */

.modal {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 30px;
  z-index: 99;
  color: var(--clr-light);
  font-weight: var(--bold);
  text-align: center;
  transform: translateY(100%);
  transition: var(--transition);
}

.modal.succes {
  background-color: var(--clr-succes);
}

.modal.error {
  background-color: var(--clr-danger);
  color: var(--clr-light);
}

.modal.showme {
  transform: translateY(0%);
  transition: var(--transition);
}

/* MODAL CUANDO TE SUSCRIBIS */
.modalCompra-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  display: grid;
  place-items: center;
  transition: var(--transition);
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(10px) saturate(180%);
  background-color: rgba(31, 31, 35, 0.75);
}

.modalCompra {
  width: 90%;
  max-width: 500px;
  height: 300px;
  padding: 10px;
  border-radius: var(--radius);
  background-color: var(--clr-gray);
  color: var(--clr-light);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.modalCompra-container.showme {
  opacity: 1;
  visibility: visible;
  transition: var(--transition);
}

.modalCompra__btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.modalCompra__btn {
  border: none;
  background-color: transparent;
  font-size: 2rem;
  cursor: pointer;
}

.modalCompra__btn:hover {
  transform: scale(0.9);
  transition: var(--transition);
}

.modalCompra-confirm {
  color: var(--clr-succes);
}

.modalCompra-cancel {
  color: var(--clr-danger);
}

.loader {
  width: 150px;
  margin: 0 auto;
}
